* {
     margin: 0;
     padding: 0;
     font-family: "Be Vietnam Pro", serif;
}

header {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     padding-top: 40px;
}

ul {
     display: flex;
     flex-direction: row;
     align-items: center;
     list-style: none;
}

ul li {
     margin-right: 40px;
     cursor: pointer;
     transition: 0.3s ease-in;
     color: hsl(228, 39%, 23%);
     font-weight: 500;
     text-transform: capitalize;
}

ul li:hover {
     color: hsl(227, 12%, 61%);
}

header > button {
     background-color: hsl(12, 88%, 59%);
     padding: 10px 25px;
     border-radius: 20px;
     border: none;
     color: white;
     cursor: pointer;
}

header > button:hover {
     background-color: hsl(12, 74%, 76%);
}

.hamburger-icon {
     display: none;
}

.close-icon {
     display: none;
}

.nav-mobile {
     display: none;
}

.hero-info {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0 160px;
     margin-top: 80px;
     flex-wrap: wrap;
}

.hero-info__title {
     display: grid;
     align-items: center;
}

.hero-info__title > h1 {
     font-size: clamp(20px, 5vw, 60px);
     max-width: 600px;
     color: hsl(228, 39%, 23%);
     margin-bottom: 40px;
     font-weight: 700;
}

.hero-info__title > p {
     max-width: 500px;
     color: hsl(227, 12%, 61%);
     margin-bottom: 40px;
     line-height: 1.5;
}

.hero-info__title > button {
     background-color: hsl(12, 88%, 59%);
     padding: 10px 25px;
     border-radius: 20px;
     border: none;
     color: white;
     cursor: pointer;
     width: fit-content;
}

.hero-info__title > button:hover {
     background-color: hsl(12, 74%, 76%);
}

.feed__sec-1 {
     display: flex;
     flex-direction: row;
     align-items: start;
     justify-content: space-around;
     margin-top: 80px;
     flex-wrap: wrap;
     margin-bottom: 40px;
}

.sec-1__title {
     display: grid;
     align-items: center;
     margin-bottom: 40px;
}

.sec-1__title > h2 {
     font-weight: 700;
     margin-bottom: 20px;
     font-size: clamp(30px, 5vw, 50px);
     color: hsl(228, 39%, 23%);
     max-width: 600px;
}

.sec-1__title > p {
     max-width: 500px;
     line-height: 1.5;
     font-weight: 700;
     color: hsl(227, 12%, 61%);
}

.sec-1__lists {
     display: grid;
     align-items: center;
}

.list {
     display: grid;
     align-items: center;
     margin-bottom: 80px;
}
.title {
     display: flex;
     align-items: center;
     margin-bottom: 20px;
}

.title > h2 {
     color: hsl(228, 39%, 23%);
     font-size: clamp(10px, 5vw, 20px);
}

.title > span {
     background-color: hsl(12, 88%, 59%);
     padding: 5px 20px;
     border-radius: 20px;
     color: white;
     margin-right: 20px;
}

.list > p {
     line-height: 1.5;
     color: hsl(227, 12%, 61%);
     font-weight: 500;
     max-width: 500px;
}

.feed__sec-2 {
     display: grid;
     align-items: center;
     justify-content: center;
}

.sec-2__title > h2 {
     color: hsl(228, 39%, 23%);
     font-size: clamp(20px, 5vw, 30px);
     margin-bottom: 80px;
     text-align: center;
}

.cards__reviews {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: center;
}

.card {
     display: grid;
     align-items: center;
     background-color: hsl(13, 100%, 96%);
     padding: 0 40px;
     border-radius: 10px;
     margin-right: 20px;
     margin-bottom: 80px;
}

.card > img {
     width: clamp(100px, 7vw, 500px);
     position: relative;
     top: -50px;
     margin: 0 auto;
}

.card > h3 {
     color: hsl(228, 39%, 23%);
     font-size: clamp(10px, 5vw, 20px);
     text-align: center;
}

.card > p {
     color: hsl(227, 12%, 61%);
     max-width: 500px;
     text-align: center;
     margin: 40px auto;
}

.feed__sec-2 > button {
     background-color: hsl(12, 88%, 59%);
     padding: 10px 25px;
     border-radius: 20px;
     border: none;
     color: white;
     cursor: pointer;
     margin: 0 auto;
     width: fit-content;
}

.feed__sec-2 > button:hover {
     background-color: hsl(12, 74%, 76%);
}

.feed__sec-3 {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 80px 160px;
     background-color: hsl(12, 88%, 59%);
     margin-top: 40px;
}

.feed__sec-3 > h2 {
     font-size: clamp(15px, 5vw, 40px);
     font-weight: 700;
     color: white;
     text-transform: capitalize;
     width: clamp(400px, 27vw, 500px);
}

.feed__sec-3 > button {
     font-weight: 500;
     color: hsl(12, 88%, 59%);
     text-transform: capitalize;
     background-color: white;
     padding: 10px 25px;
     border-radius: 20px;
     border: none;
     cursor: pointer;
     width: fit-content;
     transition: 0.3s ease-in;
}

.feed__sec-3 > button:hover {
     background-color: hsl(9, 3%, 41%);
     color: white;
}

footer {
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: #565b6b;
     padding: 40px 160px;
}

.logo-and-socialMedia {
     display: grid;
     align-items: center;
}

.socialMedia {
     display: flex;
     align-items: center;
     margin-top: 40px;
}

.socialMedia svg {
     margin-right: 10px;
}

.nav-footer {
     display: grid;
     align-items: center;
}
.nav-footer ul {
     list-style: none;
}

.nav-footer > ul li {
     margin-top: 10px;
     text-transform: capitalize;
     font-weight: 300;
     color: white;
}

.about {
     display: grid;
     align-items: center;
}

.about h5 {
     margin-top: 10px;
     text-transform: capitalize;
     font-weight: 300;
     color: white;
}

.email-and-copyRight {
     display: grid;
     align-items: center;
}

.email {
     display: flex;
     align-items: center;
}

.email input {
     margin-right: 5px;
     border: none;
     width: 200px;
     height: 35px;
     border-radius: 10px;
     padding-left: 10px;
     margin-bottom: 20px;
}

.email > button {
     font-weight: 500;
     color: hsl(12, 88%, 59%);
     text-transform: capitalize;
     background-color: white;
     padding: 10px 25px;
     border-radius: 20px;
     border: none;
     cursor: pointer;
     width: clamp(100px, 5vw, 200px);
}

.email-and-copyRight > button {
     color: rgb(61, 59, 59);
}

@media (min-width: 889px) and (max-width: 1500px) {
     .hero-info {
          justify-content: center;
     }

     .hero-info__title > h1 {
          text-align: center;
     }

     .hero-info__title > p {
          margin: 0 auto;
     }

     .hero-info__title > button {
          margin: 40px auto;
     }

     .card {
          display: none;
     }
     .card.active {
          display: flex;
          flex-direction: column;
     }

     .dots {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 40px 0;
     }

     .dot {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 3px solid antiquewhite;
          margin-right: 20px;
     }

     .dot.active {
          animation-name: rectangular-dot;
          animation-direction: normal;
          animation-fill-mode: forwards;
          animation-iteration-count: 1;
          animation-duration: 2s;
          border-radius: 10px;
          transition: 0.5s ease;
     }

     @keyframes rectangular-dot {
          from {
               width: 20px;
          }
          to {
               width: 50px;
          }
     }

     .dot-progress.active {
          width: 20px;
          height: 20px;
          animation-name: progress-dot;
          animation-duration: 10s;
          background-color: antiquewhite;
          animation-iteration-count: 1;
          border-radius: 5px;
          animation-fill-mode: forwards;
     }

     @keyframes progress-dot {
          from {
               width: 20px;
          }
          to {
               width: var(--progress);
          }
     }

     .feed__sec-3 {
          flex-direction: column;
     }

     .feed__sec-3 > h2 {
          max-width: 300px;
          margin-bottom: 40px;
          text-align: center;
     }

     .feed__sec-3 > button {
          width: 150px;
     }
}

@media (min-width: 320px) and (max-width: 888px) {
     header {
          justify-content: space-between;
          padding: 0 20px;
          padding-top: 40px;
     }

     .nav-desktop {
          display: none;
     }

     header > button {
          display: none;
     }

     .nav-mobile {
          display: none;
          position: fixed;
          top: 25%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: white;
          border-radius: 10px;
          width: clamp(300px, 80vw, 500px);
     }

     .nav-mobile > ul {
          display: grid;
          align-items: center;
          justify-content: center;
          margin: 30px 0;
     }

     .nav-mobile > ul li {
          margin: auto;
          margin-bottom: 20px;
          transition: 0.3s ease-in;
          cursor: pointer;
          font-weight: 500;
     }

     .nav-mobile > ul li:hover {
          color: hsl(227, 12%, 61%);
     }

     .hamburger-icon {
          display: block;
     }

     .hero-info {
          flex-direction: column-reverse;
          margin: 0;
     }

     .hero-info__title > h1 {
          text-align: center;
     }

     .hero-info__title > button {
          margin: 0 auto;
          margin-bottom: 40px;
     }

     .feed__sec-1 {
          display: grid;
          justify-content: center;
     }

     .sec-1__title > h2 {
          text-align: center;
     }

     .sec-1__title > p {
          margin: 0 auto;
          text-align: center;
          margin-bottom: 80px;
     }

     .title {
          background-color: hsl(13, 100%, 96%);
          padding: 10px 15px;
          border-radius: 20px;
     }

     .list > p {
          margin-bottom: 20px;
     }

     .card {
          margin: 0 20px;
          margin-top: 80px;
          display: none;
     }

     .card.active {
          display: flex;
          flex-direction: column;
     }

     .dots {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 20px 0;
     }

     .dot {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 3px solid antiquewhite;
          margin-right: 20px;
     }

     .dot.active {
          animation-name: rectangular-dot;
          animation-direction: normal;
          animation-fill-mode: forwards;
          animation-iteration-count: 1;
          animation-duration: 2s;
          border-radius: 10px;
          transition: 0.5s ease;
     }

     @keyframes rectangular-dot {
          from {
               width: 20px;
          }
          to {
               width: 50px;
          }
     }
     .dot-progress.active {
          width: 20px;
          height: 20px;
          animation-name: progress-dot;
          animation-duration: 10s;
          background-color: antiquewhite;
          animation-iteration-count: 1;
          border-radius: 10px;
          animation-fill-mode: forwards;
     }

     @keyframes progress-dot {
          from {
               width: 20px;
          }
          to {
               width: var(--progress);
          }
     }

     .feed__sec-3 {
          flex-direction: column;
     }

     .feed__sec-3 > h2 {
          max-width: 300px;
          margin-bottom: 40px;
          text-align: center;
     }

     .feed__sec-3 > button {
          width: 150px;
     }
}
